{
  "singleQuote": false,
  "bracketSpacing": true,
  "semi": false,
  "arrowParens": "avoid",
  "singleAttributePerLine": false,
  "useTabs": false,
  "printWidth": 90,
  "cursorOffset": -1,
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed"
}
