{
  "singleQuote": false,
  "bracketSpacing": true,
  "semi": true,
  "arrowParens": "avoid",
  "singleAttributePerLine": false,
  "useTabs": false,
  "printWidth": 100,
  "bracketSameLine": true,
  "cursorOffset": -1,
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed"
}
